<script type="text/javascript">
  
</script>

<div class="panel panel-default panel-top Fnd-bg">
  <div class="Fnd-01">
    <div class="Fnd-02">
      <i class="fa fa-pencil-square-o" aria-hidden="true" style="border-right:medium black solid; height:13px;" > Make a new post &emsp;</i>&emsp;
      <i class="fa fa-share-square-o" aria-hidden="true"> Share with the world</i>
    </div>
    
    <div class="Fnd=03">
      <div class="col-sm-1">
        <i>
        <img class="img-rounded user-avatar-profile" src="/icon.png"></img> 
        
        Let's get started
        </i>
      </div>
    </div>
    
    <div class="Fnd=04">
      
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      
      <i class="fa fa-camera" aria-hidden="true"></i>
      
      <i class="fa fa-headphones" aria-hidden="true"></i>
      
      <i class="fa fa-file-text" aria-hidden="true"></i>
      
      <i class="fa fa-font" aria-hidden="true">
        <i class="fa fa-bold" aria-hidden="true"></i>
      </i>  
      
    </div>
    
  </div>
</div>    