<script type="text/javascript">
  
</script>

<div class="panel panel-default panel-top">
  <div class="panel-body form-controller">  
 
    <div class="col-sm-10 post-form">
        <%= form_for(@newPost) do |f| %>
          <center>
            
            <div class="field" style="margin-left: -60px; background: white; width: 130%;">
              <%= f.text_field :content, autofocus: true, class: "form-control" %>
              
              <span class="post-submit-button" style="float: right">  
                <%= f.submit "Post", class: "btn btn-submit" %>
              </span>
            </div>
            
          </center>
        <% end %>
    </div>
  </div>
  
  <div class="col-sm-11">
        
    <div class="tips-btn">  
    <p> 
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary"><i class="fa fa-headphones" aria-hidden="true"></i> Audio</button>
        
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</button>
        
        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info"><i class="fa fa-file-text-o" aria-hidden="true"></i> Text</button>
        
        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning"><i class="fa fa-camera-retro" aria-hidden="true"></i> Image</button>
        
        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger"><i class="fa fa-television" aria-hidden="true"></i> Livestream</button>
    </p>    
    </div>
  </div>     
</div>    



