<div class="panel panel-default Fnd-bg">

   <div class="icon-group-top">
    <div class="btn-group new-post-button" id="new-post" data-subview="" style="display: block; opacity: 1">
      <nav class="post-option" id="post-option" role="menu">
        <i class="fa fa-pencil-square-o create-a-new-post" aria-hidden="true"> Create a new post </i>&nbsp;
        <span class="divider"> | </span>
        <i class="fa fa-share-square-o share-with-the-world" aria-hidden="true"> Share with the world </i>
        <span class="divider"> | </span>
        <i class="fa fa-share-square-o share-with-the-world" aria-hidden="true"> Share with the world </i>
      </nav>
    </div>
  </div>
  
  <hr class="hr-01">
  <br>
  
  <div class="post-container">  
    <%= form_for(@newPost) do |f| %>
      
      <div class="col-sm-1 user-avatar-title">
        <img class="img-rounded user-avatar-post" src="/icon.png"></img> 
      </div>
      
      <div class="post-box">  
        <%= f.text_field :content, autofocus: true, :id => "form-click",  :class => "form-control form-transform", :style => "color: rgba(255,141, 0, 1);" %>
      </div>
      
      <div class="post-action">
        <%= f.submit "Post", class: "btn btn-submit" %>
      </div>
      
    <% end %>
  </div> 
  
  
  <script>
    $("#form-click").click(function() {
      $('.form-transform').toggleClass('form-transform-active');
    });
  </script>
  
</div>    
