<div class="panel panel-default panel-top Fnd-bg">

  <div class="Fnd-01">
    <i class="fa fa-pencil-square-o" aria-hidden="true" style="border-right:medium black solid; height:13px;" > Make a new post &emsp;</i>&emsp;
    <i class="fa fa-share-square-o" aria-hidden="true"> Share with the world</i>
  </div>

<hr class="hr-01">

  <div class="new-post-button" id="new-post" data-subview="" style="display: block; opacity: 1">
    <nav class="post-option" id="post-option" role="menu">
      <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-file-text post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Text
          </span>
        </i>
      </a>
      
       <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-music post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Music
          </span>
        </i>
      </a>
      
       <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-pause post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Video
          </span>
        </i>
      </a>
      
       <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-file-text post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Text
          </span>
        </i>
      </a>
      
       <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-file-text post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Text
          </span>
        </i>
      </a>
      
       <a class="post-item" id="new-post-item" role="menu-item" data-post-type="regular" deta-post-endpoint="text">
        <i class="fa fa-file-text post-icon-text" aria-hidden="true" style="opacity: 1; transform: scale(1) translateY(0px);">
          <span class="new-post-item" style="opacity: 1; transform: translateY(0px);">
            Text
          </span>
        </i>
      </a>
    </nav>
  </div>
</div>    