<div class="container content-ex">
    <div class="row">
    <% for @p in @posts %>
    
        <div class="panel">
            <div class="panel-body content-containter-ex">
                <section id="">
                    <article class="">
                        <%= @p.content %>
                    </article>
                </section>
            </div>
            <br>
            <div class="description" style="background: #595959">
                Discription    
            </div>
            <br>        
            <div class="tags" style="background: #808080">
                tags
            </div>
            <br>
            <div class="post-links-explore" style="background: #B2B2B2">
                <span class="explore-icon">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </span>
                                                    
                <span class="explore-icon">
                    <i class="fa fa-heart-o reply-ex" aria-hidden="true"></i>
                </span>
                                                    
                <span class="explore-icon">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                </span>
                                                    
                <span class="explore-icon">
                    <i class="fa fa-trash-o reply-ex" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    <% end %>
    </div>
</div>

                      