<div class="row">
   <div class="col-md-6 col-md-offset-3">
        <% for @p in @posts %>
                         <div class="panel">
                            
                            <div class="panel-body post-margin-container panel-default">
                                <p class="user-avatar">
                                    <ol class="breadcrumb">
                                        <li>
                                            <img class="user-avatar" src="/icon.png"></img> 
                                        </li>
                                        
                                        <li>
                                        <%= current_user.username %> 
                                        </li>
                                    </ol>
                                
                                </p>
                            </div>
                            
                            <div class="panel-body post-margin-container panel-default">
                               <p class="post-content"><%= @p.content %></p>
                            </div>
                        
                            <div class="panel-body post-margin-container panel-default">
                                 <div class="caption">
                                    <h4 class="post-description">Description</h4>
                                    <p>...</p>
                                    <p class="col-sm-offset-9 mid-panel-icon">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <span class="glyphicon glyphicon-fire"></span>
                                    </p>
                                </div>
                              
                                <p class="post-links"> Links </p>
                            </div>
                        </div>
        <% end %>
    </div>
    
    
    
    
     <!-- Right button group Panel 1 begins here -->
    <div class="col-xs-3">
        <div class="panel panel-default" > 
            <div class="row">
                <div class="col-md-12">
                    <!-- Button 1 begins here -->
                    <p>
                    <div class="btn-group btn-group-justified"  role="group" aria-label="Basic example">
                        <div class="btn-group color-icon" data-toggle="buttons" role="group">
                                <span class="label">
                                    <i class="fa fa-users" STYLE="color: #ff1919; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">People</span>
                                </span>
                        </div>
                        <!-- Button 2 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-camera-retro" STYLE="color: #8c198c; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Photo</span>
                                </span>
                        </div>
                        <!-- Button 3 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-headphones" STYLE="color: #ffff19; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Music</span>
                                </span>
                        </div>
                        <!-- Button 4 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-file-text-o"  STYLE="color: #198c19; font-size: 20pt" aria-hidden="true"></i>
                                       <br><span class="new_post_label_text">Text</span>
                                </span>
                        </div>
                        <!-- Button 5 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-video-camera" STYLE="color: #00FFFF; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Video</span>
                                </span>
                        </div>
                    </div>
                    </p>
                </div>    
                
                
                
            </div>
        
         <hr>
         
            <div class="panel-body">
                <p>Recommended</p>
            </div>
        </div>
        </div>
    </div>

</div>


