
    
   <div class="col-xs-9">
        <% for @p in @posts %>
            <div class="panel panel-default">    
                <div class="panel-body">
                   <p><%= @p.content %></p>
                </div>
            </div>
        <% end %>
    </div>



