<div class="row">
   
     <!-- Right button group Panel 1 begins here -->
    <div class="col-xs-3">
        <div class="panel panel-default" > 
            <div class="row">
                <div class="col-md-12">
                    <!-- Button 1 begins here -->
                    <p>
                    <div class="btn-group btn-group-justified"  role="group" aria-label="Basic example">
                        <div class="btn-group color-icon" data-toggle="buttons" role="group">
                                <span class="label">
                                    <i class="fa fa-users" STYLE="color: #ff1919; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">People</span>
                                </span>
                        </div>
                        <!-- Button 2 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-camera-retro" STYLE="color: #8c198c; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Photo</span>
                                </span>
                        </div>
                        <!-- Button 3 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-headphones" STYLE="color: #ffff19; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Music</span>
                                </span>
                        </div>
                        <!-- Button 4 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-file-text-o"  STYLE="color: #198c19; font-size: 20pt" aria-hidden="true"></i>
                                       <br><span class="new_post_label_text">Text</span>
                                </span>
                        </div>
                        <!-- Button 5 begins here -->
                        <div class="btn-group color-icon" role="group">
                            
                                <span class="label">
                                    <i class="fa fa-video-camera" STYLE="color: #00FFFF; font-size: 20pt" aria-hidden="true"></i>
                                        <br><span class="new_post_label_text">Video</span>
                                </span>
                        </div>
                    </div>
                    </p>
                </div>    
                
                
                
            </div>
        
         <hr>
         
            <div class="panel-body">
                <p>Recommended</p>
            </div>
        </div>
        </div>
    </div>

</div>

