<div class="row">
    <!-- Left Panel 1 begins -->
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
               <p>User Stats</p>
            </div>
        
            <div class="panel-body">
                <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                <span style="color: #8c198c; font-size: 20pt" data-toggle="tooltip" data-placement="bottom" title="Active projects">
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
        
                        </li>
                        <li class="active">
                            <a href="#">
                                <span style="color: #8c198c; font-size: 20pt" data-toggle="tooltip" data-placement="bottom" title="Affiliates">
                                   <i class="fa fa-users" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        
                        <li class="active">
                            <a href="#">
                                <span style="color: #8c198c; font-size: 20pt" data-toggle="tooltip" data-placement="bottom" title="Begin new project">
                                    <i class="fa fa-user-plus" aria-hidden="true" ></i>
                                </span>
                            </a>
                        </li>
                    
              
                 <hr>
                
                 Begin new project   
                 
                 <hr>
   
                    	<li class="active">
                    		<a href="#">
                    			<span style="color:  #66cdaa; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Audio">
                    				<i class="fa fa-headphones" aria-hidden="true">
                    				   
                    				</i>
                                                
                    			</span>
                    		</a>
                    	</li>
                    	
                    	<li class="active">
                    		<a href="#">
                    			<span style="color: #70b0c3; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="text">
                    					<i class="fa fa-file-text-o" aria-hidden="true">
                    					 
                    					</i>
                                               
                    			</span>
                    		</a>
                    	</li>
                    	<li class="active">
                    		<a href="#">
                    			<span style="color: #f7a868; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Media">
                    				<i class="fa fa-video-camera" aria-hidden="true">
                    				   
                    				</i>
                                                
                    			</span>
                    		</a>
                    	</li>
                    	
                    	<li class="active">
                    		<a href="#">
                    		    <span style="color: #9c3e60; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Image">
                    				<i class="fa fa-camera-retro" aria-hidden="true">
                    				 
                    				</i>
                    			</span>
                    		</a>
                    	</li>
                    </ol>
            </div>
         </div>
    </div>
    
    
    <!-- Center Panel begins here, -->
    <div class="col-xs-9">
        <!-- Panel 2 connects, -->
        <div class="panel panel-defaul  bb nb n    " >   
            <div class="panel-body">
            
                    

            </div>
        </div>
        
    </div>


</div>

  

