<div class="area"></div>


<nav class="main-menu">
    <ul>
        <li class="grav-menu-tm">
            <a href="#">
                <i class="fa fa-folder-open fa-2x grav-menu" style="color: #008000;"></i>
                <span class="nav-text">
                    Repository
                </span>
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="fa fa-users fa-2x grav-menu" style="color: #990000;"></i>
                <span class="nav-text">
                    Colaborations
                </span>
            </a>
        </li>
        <li class="">
            <a href="#">
               <i class="fa fa-share-alt fa-2x grav-menu" style="color: #ee8400;"></i>
                <span class="nav-text">
                    Published
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-life-ring fa-2x grav-menu" style="color: #ff4040;"></i>
                <span class="nav-text">
                    Sponsors
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-handshake-o fa-2x grav-menu" style="color: #8a2be2;"></i>
                <span class="nav-text">
                    Partners
                </span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fa fa-book fa-2x grav-menu" style="color: #4169e1;"></i>
                <span class="nav-text">
                    Tutors
                </span>
            </a>
        </li>
        <li>
            <a href="#">
               <i class="fa fa-table fa-2x grav-menu" style="color: #daa520;"></i>
                <span class="nav-text">
                    Schedule
                </span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fa fa-flag-o fa-2x grav-menu" style="color: #dc0055;"></i>
                <span class="nav-text">
                    Milstones
                </span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fa fa-television fa-2x grav-menu" style="color: #3ac3d6;"></i>
                <span class="nav-text">
                    TeamStream
                </span>
            </a>
        </li>
    </ul>
</nav>


      
<style>
    
    .main-menu {
        margin-top: 50px;
    }
    
    .nav-text {
        color: rgba(255, 255, 255, 1);
    }

    .fa-2x {
    font-size: 2em;
    }
    
    .grav-menu {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:30px;
    color: rgba(229,229,229,0.7);
    }
    
    .main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
    }
    
    .main-menu {
    background: rgba(28,65,95,1);
    border-right:1px solid rgba(28,65,95,1);
    position: fixed;
    top:0;
    bottom:0;
    max-height:100%;
    min-height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    }
    
    .main-menu>ul {
    margin:7px 0;
    }
    
    .main-menu li {
    position:relative;
    display:block;
    width:250px;
    }
    
    .main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
     font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
      
    }
    
    .main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    }
    
    .main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
      font-family: 'Titillium Web', sans-serif;
    }
    
    .main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
    }
    
    .no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }
    
    nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    }
    .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color: #235277;
    }
    .area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    }
   
            
</style>


<style>
   
    .wrapper {
      width: 100%;
      font-family: 'Source Code Pro', monospace;
      margin: 0 auto;
      height: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }
    .wrapper h1 {
      text-transform: uppercase;
      -webkit-transform: translate(-50%, -50%) skew(10deg) rotate(-10deg);
              transform: translate(-50%, -50%) skew(10deg) rotate(-10deg);
      font-size: 20vw;
      top: 50%;
      left: 50%;
      margin: 0;
      position: absolute;
      font-weight: 900;
      color: rgba(255, 158, 177, 0.5);
      text-shadow: 1px 4px 6px #e6e2df, 0 0 0 #66303a, 1px 4px 6px #e6e2df;
      white-space: nowrap;
    }
    .wrapper h1::before {
      content: attr(data-heading);
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 51%;
      color: #fbf7f4;
      text-shadow: 2px -1px 6px transparent;
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }
    .wrapper h1:hover::before {
      -webkit-transform: translate(1.6vw, -10%) skew(-13deg) scale(1, 1.2);
              transform: translate(1.6vw, -10%) skew(-13deg) scale(1, 1.2);
      text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2);
      height: 50%;
    }
    .wrapper h1::after {
      content: attr(data-heading);
      position: absolute;
      left: 0;
      top: 0;
      color: #fbf7f4;
      -webkit-transform: skew(0) scale(1, 1);
              transform: skew(0) scale(1, 1);
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
              clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
      text-shadow: 2px -1px 6px transparent;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }
    .wrapper h1:hover::after {
      -webkit-transform: skew(13deg) scale(1, 0.8);
              transform: skew(13deg) scale(1, 0.8);
      text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
      color: #d3cfcc;
    }

    
</style>

<style>
    * {
      box-sizing: border-box;
    }
    
    form {
      margin: 30px auto 110px;
    }
    
    .search_bar {
      background: #fff;
      border: #b7b7b7 solid 1px;
      border-radius: 3px;
      box-shadow: 0 0 3px #ccc;
      position: relative;
      font-family: 'Source Sans Pro', sans-serif;
      max-width: 420px;
    }
    .search_bar input[type=text] {
      border: none;
      box-shadow: none;
      font-weight: 600;
      font-size: 14px;
      width: 80%;
      padding: .5em;
      margin: 0;
      overflow: hidden;
    }
    .search_bar input[type=text]:focus {
      outline: none;
    }
    .search_bar button[type=submit] {
      background: -webkit-linear-gradient(#237cd4, #1e6ab5);
      background: linear-gradient(#237cd4, #1e6ab5);
      color: rgba(255, 255, 255, 0);
      border: 1px solid #1C62A8;
      width: 10%;
      min-width: 56px;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: 0 3px 3px 0;
      margin: 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    .search_bar button[type=submit]:after {
      content: '';
      position: absolute;
      top: 18%;
      right: 0;
      bottom: 22%;
      left: 4%;
      background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/search-icon.svg") no-repeat center center;
      background-size: contain;
    }
    .search_bar button[type=submit]:hover, .search_bar button[type=submit]:focus {
      background: -webkit-linear-gradient(#3388dd, #2174c7);
      background: linear-gradient(#3388dd, #2174c7);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    .search_bar .search_dropdown {
      font-weight: 600;
      min-width: 17px;
      background: -webkit-linear-gradient(#f4f4f4, #e2e2e2);
      background: linear-gradient(#f4f4f4, #e2e2e2);
      border-right: 1px solid #ddd;
      color: #555;
      padding: 0 28px 0 13px;
      border-radius: 2px 0 0 2px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 10000;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      box-sizing: content-box;
    }
    .search_bar .search_dropdown:after {
      content: "\2193";
      color: rgba(85, 85, 85, 0);
      background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg") no-repeat top left;
      height: 8px;
      width: 10px;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -6px;
    }
    .search_bar .search_dropdown:hover, .search_bar .search_dropdown.active {
      background: -webkit-linear-gradient(#e7e7e7, #d5d5d5);
      background: linear-gradient(#e7e7e7, #d5d5d5);
      cursor: pointer;
      border-right-color: #ccc;
    }
    .search_bar .search_dropdown > span {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      white-space: nowrap;
      font-size: 15px;
    }
    .search_bar .search_dropdown ul {
      display: none;
      position: absolute;
      top: 105%;
      left: -1px;
      font-size: 14px;
      width: 225px;
      background: #fff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 7px 0;
    }
    .search_bar .search_dropdown li {
      list-style-type: none;
      margin: 0;
      padding: 5px 18px;
      color: #1C62A8;
      line-height: 1.2em;
      position: relative;
    }
    .search_bar .search_dropdown li:hover {
      background: #e7e7e7;
    }
    .search_bar .search_dropdown li.selected {
      background: #1C62A8;
      color: #fff;
    }
    .search_bar.small {
      max-width: 300px;
    }
    .search_bar.small input[type=text] {
      font-size: 13px;
    }
    .search_bar.large {
      max-width: 560px;
    }
    .search_bar.large input[type=text] {
      font-size: 16px;
    }
    .search_bar.larger {
      max-width: 700px;
    }
    .search_bar.larger input[type=text] {
      font-size: 18px;
    }
    .search_bar.huge {
      max-width: 860px;
    }
    .search_bar.huge input[type=text] {
      font-size: 21px;
    }
    .search_bar ::-webkit-input-placeholder {
      font-weight: 400;
    }
    .search_bar ::-moz-placeholder {
      font-weight: 400;
    }
    .search_bar :-ms-input-placeholder {
      font-weight: 400;
    }
    .search_bar ::placeholder {
      font-weight: 400;
    }

</style>

<script>
    /* Search bar */
    
    var resizeElements;
    
    $(document).ready(function() {
    
      // Set up common variables
      // --------------------------------------------------
    
      var bar = ".search_bar";
      var input = bar + " input[type='text']";
      var button = bar + " button[type='submit']";
      var dropdown = bar + " .search_dropdown";
      var dropdownLabel = dropdown + " > span";
      var dropdownList = dropdown + " ul";
      var dropdownListItems = dropdownList + " li";
    
    
      // Set up common functions
      // --------------------------------------------------
    
      resizeElements = function() {
        var barWidth = $(bar).outerWidth();
    
        var labelWidth = $(dropdownLabel).outerWidth();
        $(dropdown).width(labelWidth);
    
        var dropdownWidth = $(dropdown).outerWidth();
        var buttonWidth	= $(button).outerWidth();
        var inputWidth = barWidth - dropdownWidth - buttonWidth;
        var inputWidthPercent = inputWidth / barWidth * 100 + "%";
    
        $(input).css({ 'margin-left': dropdownWidth, 'width': inputWidthPercent });
      }
    
      function dropdownOn() {
        $(dropdownList).fadeIn(25);
        $(dropdown).addClass("active");
      }
    
      function dropdownOff() {
        $(dropdownList).fadeOut(25);
        $(dropdown).removeClass("active");
      }
    
    
      // Initialize initial resize of initial elements 
      // --------------------------------------------------
      resizeElements();
    
    
      // Toggle new dropdown menu on click
      // --------------------------------------------------
    
      $(dropdown).click(function(event) {
        if ($(dropdown).hasClass("active")) {
          dropdownOff();
        } else {
          dropdownOn();
        }
    
        event.stopPropagation();
        return false;
      });
    
      $("html").click(dropdownOff);
    
    
      // Activate new dropdown option and show tray if applicable
      // --------------------------------------------------
    
      $(dropdownListItems).click(function() {
        $(this).siblings("li.selected").removeClass("selected");
        $(this).addClass("selected");
    
        // Focus the input
        $(this).parents("form.search_bar:first").find("input[type=text]").focus();
    
        var labelText = $(this).text();
        $(dropdownLabel).text(labelText);
    
        resizeElements();
    
      });
    
    
      // Resize all elements when the window resizes
      // --------------------------------------------------
    
      $(window).resize(function() {
        resizeElements();
      });
    });
</script>