<div class="row">
    <!-- Left Panel 1 begins -->
    <div class="col-xs-3">
        <div class="panel">
            <div class="panel-body panel-margin-container">
               <p>stats</p>
            </div>
        </div>
        <!--Left Panel 2 begins -->
        <div class="panel" >   
            <div class="panel-body panel-margin-container">
                <p>Endorsed</p>
            </div>
         </div>
    </div>
    
    
    <!-- Center Panel begins here, -->
    <div class="col-xs-6">
        <div class="row">
            <%= render '/components/post_form' %><br>
                <% for @p in @posts %>
                         <div class="panel">
                            
                            <div class="panel-body post-margin-container ">
                                <p class="user-avatar">
                                    <ol class="breadcrumb ">
                                        <li>
                                            <img class="user-avatar" src="/icon.png"></img> 
                                        </li>
                                        
                                        <div class="panel">
                                            <li class="post-owner">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                                <%= User.find_by(@p.user_id).username %>
                                            </li>
                                        </div>    
                                    </ol>
                                
                                </p>
                            </div>
                            
                            <div class="panel-body post-margin-container panel-default">
                                
                                <p class="post-content"><%= @p.content %></p>
                                
                            </div>
                        
                            <div class="panel-body post-margin-container panel-default">
                                 <div class="caption">

                                    <p class="col-sm-offset-9 mid-panel-icon">
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                        <span class="glyphicon glyphicon-fire"></span>
                                    </p>
                                </div>
                              
                                <span class="post-created">
                                    <%= @p.created_at.to_formatted_s(:short) %>
                                </span>
                            </div>
                        </div>
            <% end %>
        </div>
    </div>
        
 
     <!-- Right button group Panel 1 begins here -->
    <div class="col-xs-3">
        <div class="panel">
            <div class="panel-body panel-margin-container">
               <p>Recomended User</p>
            </div>
        </div>
        <!--Left Panel 2 begins -->
        <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Recomended Projects</p>
            </div>
         </div>
         
         <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Recomended Sponsors</p>
            </div>
         </div>
         
         <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Active Tutors</p>
            </div>
         </div>
    </div>
</div>

  

