<div class="row">
    <!-- Left Panel 1 begins -->
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-body panel-margin-container">
               <p>stats</p>
            </div>
        </div>
        <!--Left Panel 2 begins -->
        <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Endorsed</p>
            </div>
         </div>
    </div>
    
    
    <!-- Center Panel begins here, -->
    <div class="col-xs-6">
        <div class="row">
            <%= render '/components/post_form' %><br>
                <% for @p in @posts %>
                    <div class="thumbnail panel-info">
                        
                                <p><%= @p.content %></p>
                         
                       
                        <div class="caption">
                            <h4>Description</h4>
                            <p>...</p>
                            <p class="col-sm-offset-9">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-circle-thin" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-fire"></span>
                            </p>
                        </div>
                    </div>
            <% end %>
        </div>
    </div>
        
 
     <!-- Right button group Panel 1 begins here -->
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-body panel-margin-container">
               <p>Recomended User</p>
            </div>
        </div>
        <!--Left Panel 2 begins -->
        <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Recomended Projects</p>
            </div>
         </div>
         
         <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Recomended Sponsors</p>
            </div>
         </div>
         
         <div class="panel panel-info" >   
            <div class="panel-body panel-margin-container">
                <p>Active Tutors</p>
            </div>
         </div>
    </div>
</div>

  

