<div class="row">
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
               <p>stats</p>
            </div>
        </div>
    </div>
    
   <div class="col-xs-6">
        <% for @p in @posts %> <!-- Calls every post in the database, -->
            <div class="panel panel-default">    
                <div class="panel-body">
                   <p><%= @p.content %></p>
                </div>
            </div>
        <% end %>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>about</p>
            </div>
        </div>
    </div>
</div>
    <!-- begin row 2, -->
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default" >   
                <div class="panel-body">
                   <p>Endorsed</p>
                </div>
            </div>
        </div>
    </div>



