<div class="row">
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
               <p>stats</p>
            </div>
        </div>
        <!-- Panel 2 connects, -->
        <div class="panel panel-default" >   
                <div class="panel-body">
                   <p>Endorsed</p>
                </div>
         </div>
    </div>
    
    
    
    <div class="col-xs-6">
        <i class="icon_post_text"></i>
        
        <span class="label label-default">People Icon</span>
        <span class="label label-primary">Video Icon</span>
        <span class="label label-success">Audio Icon</span>
        <span class="label label-info">Text file Icon</span>
        <span class="label label-warning">SLR Icon</span>
        
    
        <% for @p in @posts %>
            <div class="panel panel-default">    
                <div class="panel-body">
                   
                   
                   
                   
                 <div class="row">
                      <div class="col-md-12 col-md-12">
                        <div class="thumbnail">
                          <img src="<%= @p.content %>" alt="...">
                          <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>about</p>
            </div>
        </div>
    </div>
</div>

  

