<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body {
            background: linear-gradient(
                        rgba(10,10,10,0.7),
                        rgba(10,10,10,10.7),
                        margin: 0;
            ) 
            
            background: url(/swirl.gif) no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: contain;         /* Generic*/
            background-color: rgba(255,141,0,0.6);
        }
        
        h1 {
            color: rgba(255, 141, 0, 0.8);
            font-weight: bold;
        }
        
       
        
        .this-sign-in {
            margin-top:15%;
            margin-right:auto;
            margin-bottom:0;
            margin-left:auto;
            width:500px;
            height:250px;
        }
        
        .text {
            color: white;
            font-weight:300;
            font-size: 150%;
        }
        
        .footer-links{
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        
        .log-in {
            float:right;
            width:100%;
            height: 100px;
            margin-top: 7.5%;
            background-color: black;
            opacity: 0.5;
        }
        
        .bg-im {
            width: 100%;
            height: 800px;
            background: url(/giphy.gif) no-repeat center center fixed;
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }
        
        .post-margin-container {
            margin-top: -21px;
            
        }
        
         .container-index {
            margin-right: 10%;
            margin-LEFT: 20%;
        }
        .log-in-form {
            margin: 5px;
        }
    </style>
    
    <div class="container-index row bg-im">
    <div class="col-sm-6">
    
    </div>
    
    <div class="col-md-12 ">
    <div class="panel log-in">
    <div class="panel-body panel-margin-container">
    <h1>YOSTUDENT.</h1>
    <p>Welcome text</p>
    </div>
    </div>
    </div>
    
    
    
<% else #if the user is signed in, render the following HTML %>
<script>document.location = "/home"</script>
<% end %>