<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body {
            background: linear-gradient(
                        rgba(0,0,0,0.7),
                        rgba(0,0,0,0.7)
            ) url("/YO.png") no-repeat center center fixed;
            
            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h1 {
            color: #0c5393;
            
        }
        
        .container-index {
            margin-right: 15%;
            margin-LEFT: 25%;
        }
        
        .this-sign-in {
            margin-top:15%;
            margin-right:auto;
            margin-bottom:0;
            margin-left:auto;
            width:500px;
            height:250px;
        }
    </style>
    
   
    
    
    <div class="this-sign-in panel">
        <div class="this-welcome container-index">
            <h1>YOSTUDENT.</h1>
        </div>
    </div>
    
<% else #if the user is signed in, render the following HTML %>

Signed in

<% end %>