<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body {
            background: linear-gradient(
                        rgba(0,0,0,0.7),
                        rgba(0,0,0,0.7)
            ) url("/YsTBG.png") no-repeat center center fixed;
            
            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h1 {
            color: rgba(255, 141, 0, 0.8);
            font-weight: bold;
        }
        
       
        
        .this-sign-in {
            margin-top:15%;
            margin-right:auto;
            margin-bottom:0;
            margin-left:auto;
            width:500px;
            height:250px;
        }
        
        .text {
            color: white;
            font-weight:300;
            font-size: 150%;
        }
        
        .footer-links{
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        
        .log-in {
            float:right;
            width:600px;
            height:350px;
            margin-top: 7.5%;
        }
        
         .container-index {
            margin-right: 10%;
            margin-LEFT: 20%;
        }
        .log-in-form {
            margin: 5px;
        }
    </style>
    
   
    
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>YOSTUDENT.</h1>
            <p class="text">
                Welcome text
            </p>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-offset-3">
        <div class="panel log-in">
            <div class="panel-body panel-margin-container">
               <p>Log in</p>
            </div>
        </div>

    </div>
    
    
    
<% else #if the user is signed in, render the following HTML %>

    <script>document.location = "/home"</script>

<% end %>