<% if !user_signed_in? # if the user is not signed in, render this %>

<body>

<div class="container"> 
  
</div>


<div class="container"> 
  
</div>

  <div class="content">
    <div class="phone_outer">
      <div class="phone_inner">
        <div class="top_camera"></div>
        <div class="camera"></div>
        <div class="speaker"></div>
        <div class="phone_screen">
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
            <div class='dots'></div>
        </div>
        <div class="home_btn"></div>
        <div class="shine"></div>
      </div>
    </div>
  </div>
</body>

<style>
  body{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
<script></script>
    
    
    
<% else #if the user is signed in, render the following HTML %>
<script>document.location = "/home"</script>
<% end %>