<!-- begin row 1. -->
<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <%= @username %>
        </div>
    </div>
</div>
<!-- begin row 2, -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
               <p>Profile</p>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
       <%= render '/components/post_form' %>
            <% for @p in @posts %> <!-- Calls every post in the database, -->
                <div class="panel panel-default">    
                    <div class="panel-body">
                       <p><%= @p.content %></p>
                    </div>
                </div>
            <% end %>
         
    </div>
    
    
    
    
    
    <div class="col-xs-3">
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>Trends</p>
            </div>
        </div>
    
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>Endorsed</p>
            </div>
        </div>
    </div>
</div>


