<div class="chat-box">
    <div class="chat-content">
        <label>Your ID:</label><br/>
        <textarea id="yourId"></textarea><br/>
        
        <label>Other ID:</label><br/>
        <textarea id="otherId"></textarea>
        <button id="connect">Connect</button><br/>
    </div>
    
    <script src="bundle.js" charset="utf-8"></script>
</div>

