/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.post-margin {
    margin-top: -21px;
}

.navbar {
    background-color: rgba(255,141, 0, 1);
    width: 100%;
    border-radius: 0px !important;
}

.navbar-guest {
    background-color: rgba(255,141, 0, 1);
    width: 100%;
    height: 15%;
    border: 0px;
}

.navbar-guest {
}

//Nav search

.panel {
    background-color: rgba(255,255, 255, 1);
    width: 100%;
}

.panel-top {
    margin-top: -30px;
    opacity: 0.9;
}

body{
    background-color:  rgba(249, 249, 249, 1);
}
.navbar-default .navbar-brand {
    color: #ffffff !important;
    display: block;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #0c5393;
    background-color:transparent !important;
    display: block;
}


//Navbar icons timeline
.material-timeline {
    color: #ffffff; 
    font-size: 18pt;
}

.fa-globe {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}

.home_TL {
    font-size: 10pt;
    font-weight: bold;
    color: white;
    
    margin-left: 13px;
}

//Navbar icons explore
.material-explore {
    color: #ffffff; 
    font-size: 18pt;
}

.fa-compass {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}


//Navbar icons recommended
.material-recommended {
    color: #ffffff; 
    font-size: 18pt;
}

.material-recommended {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}

//Navbar dropdown caret
.material-caret {
    color: #fffff;
    font-size: 20pt;
}


//Notifications
.fa-exclamation-circle {
    margin-left: -18px;
    margin-right: -15px;
}

//Messages
.fa-envelope {
    margin-left: -18px;
    margin-right: -15px;
}

.fa:hover, .dropdown-toggle {
    color: rgba(76,142,174,0.8)
}

.fa-grav {
    color: #ff1919;
    margin-right: -5%;
    margin-left: -5%;
}

.fa-folder-open {
    color: #198c19;
}

.fa-user-plus {
    color: #009fff;
}


.fa-links {
    font-weight: bold;
    font-size: 15px;
    margin-left: 3%;
}

input.form-control {
    background-color:  rgba(238,100,54,0.10);
}

.magic_brand {
    font-weight: bold;
    color: #ffffff;
}

.magic_brand:hover{
    color: #0c5393;
}

.magic_brand-guest {
    font-size: 20pt;
    font-weight: bold;
    color: rgba(255,141, 0, 1);
    margin-top: 5px;
}

.navbar-brand-guest{
    margin-top: 2px;
    margin-left: -100px;
}

.nav-guest-br {
    margin-top: 5px;
}

.magic_brand-guest:hover{
    color: #0c5393;
}

.dropdown .dropdown-toggle:hover {
    border: 0.1px solid white;
}

.dropdown .dropdown-toggle:hover {
    background-color: #0c5393;
    color:#0c5393;
}

.new-btn-label-icon {
    
    margin-left: 5%;
    margin-right: 0%;
}

.brd-bg {
    background: rgba(255,255, 255, 1);
}

.hr-rec {
    font-weight: bold;
    color: #7FACFF;
}

.user-avatar {
    height: 60px;
    width: 60px;
    background-color: transparent;
    margin-left: -100px;
    margin-top: -15px;
}

.user-avatar-profile {
    height: 40px;
    width: 40px;
    background-color: transparent;
    margin-left: -20px;
    margin-top: -3px;
}

.user-avatar:hover {
    opacity: 0.80;
}

//Post panel
.post-panel {
    margin-top: -21px;
}



.post-title {
    text-align: left;
    margin-left: -7px;
    margin-top: -5px;
}

.post-owner {
    color: black;
    font-weight: bold;
    margin-left: -53px;
}

.post-owner:hover {
    color: rgba(255,141, 0, 1);
    opacity: 0.50;
}

.post-owner-profile {
    color: black;
    font-weight: bold;
    margin-left: -8px;
    margin-top: -5px;
}

.post-owner-profile:hover {
    color: rgba(255,141, 0, 1);
    opacity: 0.50;
}

.post-date {
    color: black;
    text-align: right;
    opacity: 0.5;
}
.post-date:hover {
    color: rgba(255,141, 0, 1);
}

.post-content{
    text-align: left;
    margin-top: -5px;
    margin-left: -53px;
}

.post-content-profile {
    text-align: left;
    margin-top: -5px;
    margin-left: -5px;
}

.content-container {
    margin-left: -15px;
    margin-top: -30px;
}

.post-tags {
    color: black;
    font-weight: bold;
    margin-left: 28px;
}

.post-links {
    text-align: left;
    margin-left: 25px;
}


.fa-anchor:hover {
    color: black;
}






//Reply icon and text
.reply-icon {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.4;
}

.reply-text:hover {
    color: rgba(21,221,234,1);
    opacity: 1;
}

.reply-icon:hover {
    color: rgba(21,221,2347,1);
    opacity: 1;
}

.reply-reply:hover{
     color: rgba(21,221,2347,1);
    opacity: 1;
}






//like icon and text
.like-icon {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.4;
}

.like-text:hover {
    color: rgba(244,86,77,1);
    opacity: 1;
}

.like-icon:hover {
    color: rgba(244,86,77,1);
    opacity: 1;
}

.fa-heart:hover {
    color: rgba(244,86,77,1);
    opacity: 1;
}






//share icon and text
.share-icon {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.4;
}

.share-text:hover {
    color: rgba(23,220,195,1);
    opacity: 1;
}

.share-icon:hover {
    color: rgba(23,220,195,1);
    opacity: 1;
}






//more icon and text
.more-icon {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.4;
}

.more-text:hover {
    color: rgba(138,43,226,1);
    opacity: 1;
}
.more-icon:hover {
    color: rgba(138,43,226,1);
    opacity: 1;
}

.fa-bars:hover {
    color: rgba(138,43,226,1);
    opacity: 1;
}











//ancor icon and text
.ancor-icon {
    margin-left: 20px;
    margin-right: -2px; 
    text-align: right;
    opacity: 0.8;
}

.ancor-text:hover {
    opacity: 1;
}
.ancor-icon:hover {
    color: rgba(127,220,136,1);
    opacity: 1;
}

.fa-folder:hover {
    color: rgba(127,220,136,1);
    opacity: 1;
}








//TeamStream-p2p
.booth {
    width: 400px;
    background: transparent;
    border: 4px solid #ddd;
    margin:0 auto;
}








//Post form and button icons. 
.pop-tab {
    margin-top: 80px;
}

.act-tab {
    margin-top: 150px;
}

.post-form {
    margin-left: 43px;
}

.post-submit-button {
    margin-top: 20px;
}

.audio-button {
    margin-top: 100px;
}

.post-form-panel {
    margin-bottom: -15px; 
}

.content-panel {
    margin-bottom: 35px;
    margin-top: -30px;
}

.tips-btn {
    margin-left: 14px;
    margin-top: -35px;
    margin-top: -49px;
    margin-left: -2px;
    background: transparent;
}

.form-controller {
    background: rgba(255,141, 0, 0.9);
}

.form-control {
    background: white;
    border: transparent;
}









//User info home panel
.user-avatar-home {
    height: 60px;
    width: 60px;
    background-color: transparent;
    margin-left: -20px;
    margin-top: -3px;
}

.user-name-home {
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
}









//Right button group Panel 1
.high-bar{
    margin-top: -1px;
}

.rec-panel:hover {
   
}

.rec-container {
    
}

.rec-content {
    
}

.rec-guide {
    
}