/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.post-margin {
    margin-top: -21px;
}

.post-margin-container {
    margin-top: -7px;
}


.navbar {
    background-color: rgba(255, 141, 0, 0.8);
    width: 110%;
    border: 10px;
}

.navbar-guest {
    background: transparent;
    width: 110%;
    border: 0px;
}

body{
    background-color:  rgba(255, 210, 127, 1);
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #0c5393;
    background-color:transparent;
}


//icons

.fa-globe {
    margin-left: -18px;
    margin-right: -15px;
}

.fa-compass {
    margin-left: -18px;
    margin-right: -15px;
}

.fa-exclamation-circle {
    margin-left: -18px;
    margin-right: -15px;
}

.fa-envelope {
    margin-left: -18px;
    margin-right: -15px;
}
.fa-stumbleupon {
    margin-left: -18px;
    margin-right: -15px;
}

.glyphicon-user {
    margin-left: 0px;
}

.fa:hover, .dropdown-toggle {
    color: #0c5393;
}

.fa .fa-users:hover {
    color: #ff0000;
}


.fa-grav {
    color: #ff1919;
    margin-right: -5%;
    margin-left: -5%;
}

.fa-user {
    color:	#f2fb69;
}

.fa-folder-open {
    color: #198c19;
}

.fa-user-plus {
    color: #009fff;
}

.fa-anchor {
    font-weight: bold;
    font-size: 17px;
    margin-left: 3%;
}

.fa-share {
    font-weight: bold;
    font-size: 20px;
    margin-left: 3%;
}

.fa-comment-o {
    font-weight: bold;
    font-size: 18px;
    margin-left: 3%;
}

.fa-heart-o {
    font-weight: bold;
    font-size: 18px;
    margin-left: 3%;
}
 
.fa-info {
    font-weight: bold;
    font-size: 20px;
    margin-left: 3%;
}


.glyphicon-cog {
    color: #000000;
}

.glyphicon-user {
    color: #009fff;
}


.new_post_label_text {
    font-size: 70%;
}

.btn-group {
    margin-right: 5%;
    margin-left: 2.5%;
}

.mid-panel-icon {
    margin-bottom: -21px;
    margin-right: -21%;
}

.button.material-icon .glyphicon {
	margin-right: 0;
}

.button.material-icon .fa {
	margin-right: 0;
}

input.form-control {
    background-color:  rgba(238,100,54,0.10);
}

.magic_brand {
    font-weight: bold;
    color: #ffffff;
}

.magic_brand:hover{
    color: #0c5393;
}

.dropdown .dropdown-toggle:hover {
    border: 0.1px solid white;
  
}

.dropdown .dropdown-toggle:hover {
    background-color: #0c5393;
    color:#0c5393;
}

.btn-group .btn {
    background-color: rgba(0,65,124,0.1);
}

.panel .panel-body{
    background: transparent;
    width: 100%;
}


.new_post_label_text {
    color: #808080;
    font-size: 100%;
    margin-right: 0;
    margin-left: 15%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.new-btn-label-icon {
    
    margin-left: 5%;
    margin-right: 0%;
}

.post-panel {
     margin-top: -21px;   
}

.user-image-profile {
   margin-left: 5%; 
}

.post-content {
    text-align: left;
    margin-left: 15px;
    margin-top: -50px;
}


.user-avatar {
    margin-top: -25px;
    margin-left: -45%;
    height: 30px;
    width: 30px;
}

.post-description {
    text-align: left;
    margin-left: 15;
    margin-top: -25px;
}


.post-links {
    text-align: left;
    margin-left: 15;
    margin-top: -25px;
}

.post-title {
    margin-top: -40%;
    margin-left: -15%;
}

.post-owner {
    margin-left: 5%;
    margin-top: -5%;
    color:  #808080;
}

.post-owner:hover {
    color: #262626;
}

.post-created {
    
}

.glyphicon-fire {
    font-weight: bold;
    font-size: 18px;
    color: #6dcbf9;
}


.fa-link {
    font-size: 8px;
}

.breadcrumb {
    background: transparent;
}