/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.post-margin {
    margin-top: -21px;
}

.navbar {
    background-color: rgba(255,141, 0, 1);
    width: 120%;
    margin-left: -10px;
}

.navbar-guest {
    background: transparent;
    width: 110%;
    border: 0px;
}

.panel {
    background-color: rgba(255,255, 255, 1);
    width: 100%;
}

body{
    background-color:  rgba(242,242, 242, 1);
}
.navbar-default .navbar-brand {
    color: #ffffff !important;
    display: block;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #0c5393;
    background-color:transparent !important;
    display: block;
}


//Navbar icons timeline
.material-timeline {
    color: #ffffff; 
    font-size: 18pt;
}

.fa-globe {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}

//Navbar icons explore
.material-explore {
    color: #ffffff; 
    font-size: 18pt;
}

.fa-compass {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}


//Navbar icons recommended
.material-recommended {
    color: #ffffff; 
    font-size: 18pt;
}

.fa-stumbleupon {
    margin-left: -18px;
    margin-right: -15px;
    margin-top: -2px;
}

//Navbar dropdown caret
.material-caret {
    color: #fffff;
    font-size: 20pt;
}


//Notifications
.fa-exclamation-circle {
    margin-left: -18px;
    margin-right: -15px;
}

//Messages
.fa-envelope {
    margin-left: -18px;
    margin-right: -15px;
}

.fa:hover, .dropdown-toggle {
    color: rgba(76,142,174,0.8)
}

.fa-grav {
    color: #ff1919;
    margin-right: -5%;
    margin-left: -5%;
}

.fa-folder-open {
    color: #198c19;
}

.fa-user-plus {
    color: #009fff;
}


.fa-links {
    font-weight: bold;
    font-size: 15px;
    margin-left: 3%;
}

.post-margin-container {
    margin-top: -21px;
    
}

input.form-control {
    background-color:  rgba(238,100,54,0.10);
}

.magic_brand {
    font-weight: bold;
    color: #ffffff;
}

.magic_brand:hover{
    color: #0c5393;
}

.dropdown .dropdown-toggle:hover {
    border: 0.1px solid white;
  
}

.dropdown .dropdown-toggle:hover {
    background-color: #0c5393;
    color:#0c5393;
}

.new-btn-label-icon {
    
    margin-left: 5%;
    margin-right: 0%;
}

.brd-bg {
    background: rgba(255,255, 255, 1);
}

.hr-rec {
    font-weight: bold;
    color: #7FACFF;
}

.user-avatar {
    height: 30px;
    width: 30px;
    background-color: transparent;
}

//Post panel
.post-panel {
    margin-top: -21px;
}

.user-avatar:hover {
    opacity: 0.80;
}

.post-title {
    text-align: left;
    margin-left: -7px;
    margin-top: 5px;
}

.post-owner {
    color: black;
    font-weight: bold;
}

.post-owner:hover {
    color: rgba(255,141, 0, 1);
    opacity: 0.50;
}

.post-date {
    color: black;
    text-align: right;
    opacity: 0.5;
}
.post-date:hover {
    color: rgba(255,141, 0, 1);
}

.post-content{
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
}

.content-container {
    margin-left: -40px;
}

.post-tags {
    
}

.post-links {
    text-align: left;
}

.like-icon {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
}
.like-text:hover .like-icon:hover {
    color: #66cdaa;
}

.share-icon {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.6;
}

.ancor-icon {
    margin-left: 10px;
    margin-right: 10px; 
    opacity: 0.6;
}

.more-icon {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.6;
}


//TeamStream-p2p
.booth {
    width: 400px;
    background: transparent;
    border: 4px solid #ddd;
    margin:0 auto;
}
